ion-modal-view
  ion-header-bar
    h1.title Аутентификация
    .buttons
      button.button.button-clear(ng-click='closeLogin()') Закрыть

  ion-content
    form(ng-submit='doLogin()')
      .list
        label.item.item-input
          span.input-label Логин
          input(type='text', ng-model='loginData.username')

        label.item.item-input
          span.input-label Пароль
          input(type='password', ng-model='loginData.password')

        label.item
          button.button.button-block.button-positive(type='submit') Войти
