doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

    title Группа компаний ПИК

    // compiled css output
    link(href='css/application.min.css', rel='stylesheet')

    // ionic/angularjs js
    script(src='lib/ionic/js/ionic.bundle.js')

    // cordova script (this will be a 404 during development)
    script(src='cordova.js')

    // your app's js
    script(src='js/app.js')

  body(ng-app='starter')
    ion-nav-view
